// Bootstrap core JavaScript
script(src='/static/vendor/jquery/jquery.min.js')
script(src='/static/vendor/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='/static/vendor/jquery-easing/jquery.easing.min.js')
